* {
    box-sizing: border-box;
    background-color: #F5F5F5;
    font-family: "Inter", sans-serif;
    background: #EEE0CB;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
}

footer {
    background: #161619;
    border-radius: 0px 0px 10px 10px;
}

img {
    width: 300px;
    border-radius: 10px;
    position: absolute;
    width: 317px;
    height: 317px;
    left: 116px;
    top: 44px;
}

.name {
    position: absolute;
    width: 178.06px;
    height: 25.81px;
    left: 186px;
    top: 382px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.title {
    position: absolute;
    width: 178.06px;
    height: 14.19px;
    left: 186px;
    top: 414px;
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;
    color: #757083;
}

.LinkedIn-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px; 
    background: #5093E2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px; 
    position: absolute;
    width: 115px;
    height: 34px;
    left: 283px;
    top: 468px;
    position: absolute;
    width: 115px;
    height: 34px;
    left: 283px;
    top: 468px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.email-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    position: absolute;
    width: 115px;
    height: 34px;
    left: 151px;
    top: 468px;
    font-style: normal;
    color: #374151;
}

.about-info {
    position: absolute;
    width: 247px;
    height: 61px;
    left: 152px;
    top: 561px;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 150%;
    color: #DCDCDC;
    box-sizing: border-box;
}

.interests-info {
    position: absolute;
    width: 247px;
    height: 61px;
    left: 152px;
    top: 561px;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 150%;
    color: #DCDCDC;
    box-sizing: border-box;
}


